body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* background: linear-gradient(to bottom right, #5b9922, #8fe5fb); */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #8b2299, #8fe5fb);
}


h1 {
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 90px;
}

input[type="number"], select {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
